.banner {
  position: relative;
  &::before {
    content: "";
    background-image: url("../../../../public/element-coffee.svg");
    position: absolute;
    right: 0;
    top: -80;
    width: 30%;
    height: 394px;
    position: absolute;
    z-index: 1;
  }
  &::after {
    content: "";
    background-image: url("../../../../public/element-coffee.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 394px;
    position: absolute;
    z-index: 1;
  }
}
