.discount-banner {
  .box-container {
    background-image: url("../../../../public/bg-discount.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 392px;
  }
}
