.blog {
  background-image: url("../../../../public/bg-blog.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 484px;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}
